:root {
  --background-color: #2d2d2d;
  --terminal-color: #0C0C0C;
  --top-bar-color: #2E2E2E;
  --border-color: #2E2E2F;
}

@keyframes grain {
  0% { background-position: 0, 0; }
  10% { background-position: -200%, -200%; }
  20% { background-position: -400%, -400%; }
  30% { background-position: -600%, -600%; }
  40% { background-position: -800%, -800%; }
  50% { background-position: -1000%, -1000%; }
  60% { background-position: -1200%, -1200%; }
  70% { background-position: -1400%, -1400%; }
  80% { background-position: -1600%,-1600%; }
  90% { background-position: -1800%, -1800%; }
  100% { background-position:2000%, 2000%; }
}


.background {
  width: 100vw;
  height: 100vh;
  background: url(../public/noise.png) repeat;
  animation: grain 8s steps(10) infinite;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr 2fr;
  justify-content: center;
  
}

.background::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: var(--background-color);
  opacity: 0.92;
  z-index: 10;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

