[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
starlette = "*"
sqlalchemy = "*"
uvicorn = "*"
pymysql = "*"
pandas = "*"
python-jose = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
